interactions:
- request:
    body: null
    headers:
      data-partition-id:
      - dpId
      frame-of-reference:
      - afabh
    method: GET
    uri: https://fake-instance.oep.ppe.azure-int.net/api/file/v2/files/uploadURL
  response:
    body:
      string: '{"FileID":"15b14eb50c1442ec850919451b842f97","Location":{"SignedURL":"https://datarbriylf75zld6.blob.core.windows.net/file-staging-area/osdu-user%2F1656672437958-2022-07-01-10-47-17-958%2F15b14eb50c1442ec850919451b842f97?sv=2020-10-02&st=2022-07-01T10%3A47%3A33Z&se=2022-07-08T10%3A47%3A33Z&skoid=5da111df-bc05-4804-bc9d-cbb09639dd0d&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-07-01T10%3A47%3A33Z&ske=2022-07-08T10%3A47%3A33Z&sks=b&skv=2020-10-02&sr=b&sp=cw&sig=AUYYKGZ69OZyJAB1pIYASIv1vYIM26AuNqL5ur%2Bfkiw%3D","FileSource":"/osdu-user/1656672437958-2022-07-01-10-47-17-958/15b14eb50c1442ec850919451b842f97"}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
