interactions:
- request:
    body: '{"acl": {"owners": ["data.default.viewers@dpId.contoso.com"],
      "viewers": ["data.default.viewers@dpId.contoso.com"]}, "data":
      {"DatasetProperties": {"FileSourceInfo": {"FileSource": "/osdu-user/1656619195836-2022-06-30-19-59-55-836/9202cae7488f4d55b7c0a24a259d3096"}},
      "Endian": "BIG"}, "kind": "osdu:wks:dataset--File.Generic:1.0.0", "legal": {"legaltags":
      ["dpId-R3FullManifest-Legal-Tag-Test8646767"], "otherRelevantDataCountries":
      ["US"], "status": "compliant"}}'
    headers:
      Content-Type:
      - application/json
      data-partition-id:
      - dpId
      frame-of-reference:
      - afabh
    method: POST
    uri: https://fake-instance.oep.ppe.azure-int.net/api/file/v2/files/metadata
  response:
    body:
      string: '{"id":"dpId:dataset--File.Generic:269dc6ed-b9de-4a54-a59d-be56e6b1aad9"}'
    headers:
      content-type: application/json
    status:
      code: 201
      message: Created
    url: https://fake-instance.oep.ppe.azure-int.net/api/file/v2/files/metadata
- request:
    body: null
    headers:
      data-partition-id:
      - dpId
      frame-of-reference:
      - afabh
    method: GET
    uri: https://fake-instance.oep.ppe.azure-int.net/api/file/v2/files/dpId:dataset--File.Generic:269dc6ed-b9de-4a54-a59d-be56e6b1aad9/metadata
  response:
    body:
      string: '{"id":"dpId:dataset--File.Generic:269dc6ed-b9de-4a54-a59d-be56e6b1aad9","kind":"osdu:wks:dataset--File.Generic:1.0.0","legal":{"legaltags":["dpId-R3FullManifest-Legal-Tag-Test8646767"],"otherRelevantDataCountries":["US"],"status":"compliant"},"data":{"DatasetProperties":{"FileSourceInfo":{"FileSource":"/osdu-user/1656619195836-2022-06-30-19-59-55-836/9202cae7488f4d55b7c0a24a259d3096"}},"Endian":"BIG"},"version":1656619231381258,"acl":{"viewers":["data.default.viewers@dpId.contoso.com"],"owners":["data.default.viewers@dpId.contoso.com"]}}'
    headers:
      content-type: application/json
    status:
      code: 200
      message: OK
    url: https://fake-instance.oep.ppe.azure-int.net/api/file/v2/files/dpId:dataset--File.Generic:269dc6ed-b9de-4a54-a59d-be56e6b1aad9/metadata
version: 1
