interactions:
- request:
    body: '{"acl": {"owners": ["data.default.viewers@dpId.contoso.com"],
      "viewers": ["data.default.viewers@dpId.contoso.com"]}, "data":
      {"DatasetProperties": {"FileSourceInfo": {"FileSource": "/osdu-user/1656677845295-2022-07-01-12-17-25-295/dd37956a22544814822bb375a7e8c3d7"}},
      "Endian": "BIG"}, "kind": "osdu:wks:dataset--File.Generic:1.0.0", "legal": {"legaltags":
      ["dpId-R3FullManifest-Legal-Tag-Test8646767"], "otherRelevantDataCountries":
      ["US"], "status": "compliant"}}'
    headers:
      Content-Type:
      - application/json
      data-partition-id:
      - dpId
      frame-of-reference:
      - afabh
    method: POST
    uri: https://fake-instance.oep.ppe.azure-int.net/api/file/v2/files/metadata
  response:
    body:
      string: '{"id":"dpId:dataset--File.Generic:51e33086-3432-4d93-af89-0e5ca0af05b4"}'
    headers:
      content-type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      data-partition-id:
      - dpId
      frame-of-reference:
      - afabh
    method: GET
    uri: https://fake-instance.oep.ppe.azure-int.net/api/file/v2/files/dpId%3Adataset--File.Generic%3A51e33086-3432-4d93-af89-0e5ca0af05b4/metadata
  response:
    body:
      string: '{"id":"dpId:dataset--File.Generic:51e33086-3432-4d93-af89-0e5ca0af05b4","kind":"osdu:wks:dataset--File.Generic:1.0.0","legal":{"legaltags":["dpId-R3FullManifest-Legal-Tag-Test8646767"],"otherRelevantDataCountries":["US"],"status":"compliant"},"data":{"DatasetProperties":{"FileSourceInfo":{"FileSource":"/osdu-user/1656677845295-2022-07-01-12-17-25-295/dd37956a22544814822bb375a7e8c3d7"}},"Endian":"BIG"},"version":1656684390406206,"acl":{"viewers":["data.default.viewers@dpId.contoso.com"],"owners":["data.default.viewers@dpId.contoso.com"]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
