interactions:
- request:
    body: null
    headers:
      data-partition-id:
      - dpId
      frame-of-reference:
      - fafa
    method: GET
    uri: https://fake-instance.oep.ppe.azure-int.net/api/file/v2/files/uploadURL
  response:
    body:
      string: '{"FileID":"dd37956a22544814822bb375a7e8c3d7","Location":{"SignedURL":"https://datarbriylf75zld6.blob.core.windows.net/file-staging-area/osdu-user%2F1656677845295-2022-07-01-12-17-25-295%2Fdd37956a22544814822bb375a7e8c3d7?sv=2020-10-02&st=2022-07-01T12%3A17%3A25Z&se=2022-07-08T12%3A17%3A25Z&skoid=5da111df-bc05-4804-bc9d-cbb09639dd0d&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2022-07-01T12%3A17%3A25Z&ske=2022-07-08T12%3A17%3A25Z&sks=b&skv=2020-10-02&sr=b&sp=cw&sig=tpDBKGRs739ew87YT4E6yjW7aTT3y041BQBh8R7JXig%3D","FileSource":"/osdu-user/1656677845295-2022-07-01-12-17-25-295/dd37956a22544814822bb375a7e8c3d7"}}'
    headers:
      content-type: application/json
    status:
      code: 200
      message: OK
    url: https://fake-instance.oep.ppe.azure-int.net/api/file/v2/files/uploadURL
version: 1
